<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/assets/css/main.css" />
	<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	<title>boardList</title>

	<style>
table {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}
table .subject {
	width: 400px;
}

div#PageBlock {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

</style>
</head>
<body>

<div id = "wrapper">
				<!-- Header -->
				<!-- Note: The "styleN" class below should match that of the banner element. -->
					<header id="header" class="alt style2">
						<a href="mainPage" class="logo"><strong>안전해</strong> </a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="naturalDisaster">자연재난</a></li>
							<li><a href="socialDisaster">사회재난</a></li>
							<li><a href="quiz">퀴즈</a></li>
							<li><a href="boardList">게시판</a></li>
						</ul>
						<ul class="actions stacked">
							
							<li><a href="loginForm" class="button primary fit">로그인</a></li>
						</ul>
					</nav>
					<section id="banner" class="style2">
						<div class="inner">
							<span class="image">
								<img src="/images/pic07.jpg" alt="" />
							</span>
							<header class="major">
								<h1>게시판</h1>
							</header>
							<div class="content">
								<p>게시판을 통해서 궁금한 점이나 정보를 묻고 답할 수 있습니다.</p>
							</div>
						</div>
					</section>

	<ul style="margin:20px">
	<a href="boardForm" class="button primary">글 쓰기</a>
	</ul>
					
	<table border="1" style="width:600px">
		
		<colgroup>
			<col width='10%' />
			<col width='*%' />
			<col width='20%' />
			<col width='20%' />
		</colgroup>
		<thead>
			<tr>
				<th>No.</th> 
				<th>Title</th>
				<th>Writer</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
		<%
			 for(var i=0; i<rows.length; i++) {  //컨트롤에서 넘겨진 데이터(rows)의 값을 출력
		%>
			<tr>
				<td><%=rows.length-i%></td>
				<td><a href='boardRead?brdno=<%=rows[i].brdno%>'><%=rows[i].brdtitle%></a></td>
				<td><%=rows[i].brdwriter%></td>
				<td><%=rows[i].brddate%></td>
			</tr>
		<%
			 }
		%>
		</tbody>
	</table> 
</div>

<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.scrolly.min.js"></script>
			<script src="/assets/js/jquery.scrollex.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>   
</body>
</html>